<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml">
<head>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.css" />
    <link rel="stylesheet" href="../../resources/components/font-awesome/css/font-awesome.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="../../resources/css/ace-fonts.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="../../resources/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="../../resources/css/ace-skins.css" />
    <link rel="stylesheet" href="../../resources/css/ace-rtl.css" />
</head><body><div th:fragment="content" th:remove="tag">


    <!-- Заголовки вкладок -->
    <ul class="nav nav-tabs" id="tabelTab">
        <li>
            <a data-toggle="tab" href="#getTabel">
                <i class="pink ace-icon fa fa-files-o bigger-120"></i> Получить табель
            </a>
        </li>
        <li class="active">
            <a data-toggle="tab" href="#createTabel">
                <i class="blue ace-icon fa fa-table bigger-120"></i> Создать табель
            </a>
        </li>

    </ul><!-- /Заголовки вкладок -->

    <!-- Содержимое вкладок -->
    <div class="tab-content padding-24">

        <!-- Получить табель -->
        <div id="getTabel" class="tab-pane fade">

            <div class="row">






                <!-- Список табелей -->
                <div id="tabel-feed" class="profile-feed">
                    <div class="profile-activity clearfix" th:each="tabel : ${tabelList}">
                        <div>
                            <a href="#" th:href="@{/api/tabel/{year}/{month}(year=${tabel.year}, month=${tabel.month})}">
                                <i class="green ace-icon fa fa-file-excel-o bigger-100 "></i>&nbsp;
                                Табель за <th:block th:text="${tabel.monthName}" /> <th:block th:text="${tabel.year}" /> года
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Список табелей -->








            </div>




        </div><!-- /Получить табель -->

        <!-- Создать табель -->
        <div id="createTabel" class="tab-pane fade in active">

            <!-- Контейнер виджетов -->
            <div class="invisible" id="main-widget-container">
                <div class="row">
                    <div class="col-xs-12 widget-container-col" id="widget-container">

                        <!-- Форма создания табеля -->
                        <div class="widget-box widget-color-green" id="widget-tabel-create">
                            <div class="widget-header">
                                <h4 class="widget-title">Создать табель</h4>
                                <div class="widget-toolbar">
                                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">

                                    <div class="space-6"></div>

                                    <form id="formTabelCreate" class="form-horizontal compact-5">
                                        <div class="row">

                                            <div class="col-xs-12 col-sm-6 col-sm-offset-1">

                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-5 control-label no-padding-right" for="tabelDateCreate">Выберите год и месяц:</label>
                                                    <div class="col-xs-12 col-sm-7">
                                                        <div class="input-group width-80 year-month" id="tabel-create-dtp" >
                                                            <input type="text" class="form-control" id="tabelDateCreate" name="tabelDateCreate" />
                                                            <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-info btn-sm">
                                                    <i class="ace-icon fa fa-check bigger-110"></i>&nbsp;Создать
                                                </button>
                                            </div>

                                        </div>
                                    </form><!-- tabelCreateForm -->


                                </div>
                            </div>
                        </div>
                        <!-- /Форма создания табеля -->

                        <div class="space-12"></div>

                        <!-- Редактирование особенных дней -->
                        <div class="widget-box widget-color-blue2" id="widget-specialdays-edit">
                            <div class="widget-header">
                                <h4 class="widget-title">Особенные дни</h4>
                                <div class="widget-toolbar">
                                    <a href="#" data-action="fullscreen" class="orange2"><i class="ace-icon fa fa-expand"></i></a>
                                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">


                                    <div class="space-6"></div>

                                    <form class="form-horizontal compact-5">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-5 control-label no-padding-right" for="specialdays-date">Выберите год и месяц:</label>
                                                    <div class="col-xs-12 col-sm-7">
                                                        <div class="input-group width-80 year-month" id="speciadays-dtp" >
                                                            <input type="text" class="form-control" id="specialdays-date" />
                                                            <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </form><!-- Выбор года/месяца -->

                                    <table id="specialdays-table" class="table table-striped table-bordered table-hover table-action">
                                        <thead>
                                        <tr class="no-padding">
                                            <th class="width-30">ФИО</th>
                                            <th class="width-30">Код</th>
                                            <th class="width-10 align-center">Дата начала</th>
                                            <th class="width-10 align-center">Дата окончания</th>
                                            <th class="width-10"></th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        <tr>
                                            <td></td>
                                            <td class="text-limit-30"></td>
                                            <td class="align-center"></td>
                                            <td class="align-center"></td>

                                            <td>
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    <a class="green" href="#edit" th:title="#{control.edit}">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>
                                                    <a class="red person-delete" href="#delete" th:title="#{control.delete}">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                    </a>
                                                </div>
                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline pos-rel">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#edit" class="tooltip-success" data-rel="tooltip" th:title="#{control.edit}">
                                                                    <span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#delete" class="tooltip-error person-delete" data-rel="tooltip" th:title="#{control.delete}">
                                                                    <span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>



                                        </tbody>
                                    </table>

                                    <div class="space-2"></div>

                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <i class="ace-icon fa fa-hand-o-right green bigger-125"></i>
                                            <a href="#" role="button" class="bigger-110" id="spDaysAdd">Добавить запись</a>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <!-- /Редактирование особенных дней -->

                        <div class="space-12"></div>

                        <!-- Редактирование праздничных дней -->
                        <div class="widget-box widget-color-pink" id="widget-holidays-edit">
                            <div class="widget-header">
                                <h4 class="widget-title">Праздничные дни</h4>
                                <div class="widget-toolbar">
                                    <a href="#" data-action="fullscreen" class="orange2"><i class="ace-icon fa fa-expand"></i></a>
                                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">

                                    <div class="space-6"></div>

                                    <div id="calendar"></div>

                                </div>
                            </div>
                        </div>
                        <!-- /Редактирование праздничных дней -->

                        <div class="space-12"></div>











                        <!-- Редактирование обозначений табеля -->
                        <div class="widget-box widget-color-grey" id="widget-tabelnotation-edit">
                            <div class="widget-header">
                                <h4 class="widget-title">Условные обозначения</h4>
                                <div class="widget-toolbar">
                                    <a href="#" data-action="fullscreen" class="orange2"><i class="ace-icon fa fa-expand"></i></a>
                                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">




                                    <div class="space-6"></div>

                                    <table id="tabel-notation-table" class="table table-striped table-bordered table-hover table-action">
                                        <thead>
                                        <tr class="no-padding">
                                            <th class="width-10">Код</th>
                                            <th class="width-50">Наименование</th>
                                            <th class="width-10 align-center">Цвет</th>
                                            <th class="width-10 align-center">Активно</th>
                                            <th class="width-10 align-center">Выходной день</th>
                                            <th class="width-10"></th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        <tr>
                                            <td></td>
                                            <td class="text-limit-30"></td>
                                            <td class="align-center"></td>
                                            <td class="align-center"></td>
                                            <td class="align-center"></td>
                                            <td>
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    <a class="green" href="#edit" th:title="#{control.edit}">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>
                                                    <a class="red person-delete" href="#delete" th:title="#{control.delete}">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                    </a>
                                                </div>
                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline pos-rel">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#edit" class="tooltip-success" data-rel="tooltip" th:title="#{control.edit}">
                                                                    <span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#delete" class="tooltip-error person-delete" data-rel="tooltip" th:title="#{control.delete}">
                                                                    <span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>



                                        </tbody>
                                    </table>

                                    <div class="space-2"></div>

                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <i class="ace-icon fa fa-hand-o-right green bigger-125"></i>
                                            <a href="#" role="button" class="bigger-110" id="tnAdd">Добавить запись</a>
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>
                        <!-- /Редактирование обозначений табеля -->











                        <div class="space-12"></div>






                        <hr />
                        <div class="text-center">
                            <button type="reset" id="reset-widgets" class="btn btn-danger btn-white btn-bold btn-round">Сбросить состояние виджетов</button>
                        </div>




                    </div>
                </div>
            </div>





















        </div><!-- /Создать табель -->

    </div><!-- /Содержимое вкладок -->





    <!-- =========================================================================================================== -->
    <!-- Модальные диалоговые окна - Добавление/редактирование особенных дней -->
    <div id="modalSpDaysEdit" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" id="formSpDaysEdit">

                <input type="hidden" id="spDaysId" value="0">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="blue bigger">Добавление/редактирование особенных дней табеля</h4>
                    </div>
                    <div class="modal-body overflow-visible">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">


                                    <!-- Сотрудник -->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="spDaysPerson">Сотрудник</label>
                                        <div class="col-sm-7">
                                            <select class="width-100 chosen-select" id="spDaysPerson" data-placeholder="Выберите сотрудника ..."></select>
                                        </div>
                                    </div><!-- /Сотрудник -->
                                    <div class="space-2"></div>

                                    <!-- Код особенного дня -->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="spDaysKod">Код особенного дня</label>
                                        <div class="col-sm-7">
                                            <select class="width-100 chosen-select" id="spDaysKod" data-placeholder="Выберите значение из списка ..."></select>
                                        </div>
                                    </div><!-- /Код особенного дня -->
                                    <div class="space-2"></div>

                                    <!-- Диапазон дат -->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="spDaysRange">Диапазон дат</label>
                                        <div class="col-sm-7">

                                            <div class="input-daterange input-group" id="spDaysRange">
                                                <input type="hidden" id="selectedSpDaysRange" name="selectedSpDaysRange" />
                                                <input type="text" class="input-sm form-control" name="start" />
                                                <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
                                                <input type="text" class="input-sm form-control" name="end" />
                                            </div>

                                        </div>
                                    </div><!-- /Диапазон дат -->
                                    <div class="space-2"></div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="ace-icon fa fa-check"></i>Сохранить
                        </button>
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="ace-icon fa fa-remove"></i>Отменить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /#modalSpDaysEdit -->
    <!-- =========================================================================================================== -->
    <!-- Модальные диалоговые окна - Добавление/редактирование праздничных дней -->
    <div id="modalHolidaysEdit" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" id="formHolidaysEdit">

                <input type="hidden" id="holidayId" value="0">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="blue bigger">Добавление/редактирование праздничных дней</h4>
                    </div>
                    <div class="modal-body overflow-visible">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">



                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="holidayDate">Дата: </label>
                                        <div class="col-sm-7">
                                            <div class="input-medium">
                                                <div class="input-group">
                                                    <input class="input-medium" type="text" id="holidayDate" name="holidayDate" placeholder="гггг-мм-дд" readonly />
                                                    <span class="input-group-addon">
                                                        <i class="ace-icon fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- Дата праздника -->
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="holidayName">Описание:</label>
                                        <div class="col-sm-7">
                                            <input class="input-xlarge" type="text" id="holidayName" name="holidayName" />
                                        </div>
                                    </div><!-- Описание праздника -->
                                    <div class="space-2"></div>


                                    <div class="form-group">
                                        <div class="col-sm-7 col-sm-offset-4">
                                            <div>
                                                <label class="inline">
                                                    <input type="checkbox" id="holidayHoliday" class="ace" />
                                                    <span class="lbl"> Праздничный день </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!-- Является ли праздником -->

                                    <div class="form-group">
                                        <div class="col-sm-7 col-sm-offset-4">
                                            <div>
                                                <label class="inline">
                                                    <input type="checkbox" id="holidayPeriodic" class="ace" />
                                                    <span class="lbl"> Ежегодный праздник </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!-- Является ли периодическим праздником -->





                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="ace-icon fa fa-check"></i>Сохранить
                        </button>
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="ace-icon fa fa-remove"></i>Отменить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /#modalHolidaysEdit -->


</div></body></html>