<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body><div th:fragment="content" th:remove="tag">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        jQuery(function ($) {
            /* ****************************************************************************************************** */

            /* Основная логика */
            {
                var $formTabelCreate = $('#formTabelCreate'),
                    $widgetTabelCreate = $('#widget-tabel-create'),
                    $widgetSpDaysEdit = $('#widget-specialdays-edit'),
                    $widgetHolidaysEdit = $('#widget-holidays-edit'),
                    $widgetTnEdit = $('#widget-tabelnotation-edit'),
                    $dtpSpecialDays = $('#speciadays-dtp'),
                    $tableSpDaysBody = $('#specialdays-table').find('tbody'),
                    $tableTnBody = $('#tabel-notation-table').find('tbody'),
                    $templateRowSpDays = $tableSpDaysBody.find('tr:first').clone(),
                    $templateRowTn = $tableTnBody.find('tr:first').clone(),
                    $modalSpDaysEdit = $('#modalSpDaysEdit'),
                    $modalHolidaysEdit = $('#modalHolidaysEdit'),
                    $modalTnEdit = $('#modalTnEdit'),
                    $selSpDaysPerson = $('#spDaysPerson', $modalSpDaysEdit),
                    $selSpDaysKod = $('#spDaysKod', $modalSpDaysEdit),
                    $formSpDaysEdit = $('#formSpDaysEdit', $modalSpDaysEdit),
                    $formHolidaysEdit = $('#formHolidaysEdit', $modalHolidaysEdit),
                    $formTnEdit = $('#formTnEdit', $modalTnEdit),
                    $selectedSpDaysRange = $('#selectedSpDaysRange', $formSpDaysEdit),
                    $dtpSpDaysRange = $('#spDaysRange', $formSpDaysEdit),
                    $calendar = $('#calendar');


                var TABEL_CREATE = /*[[@{/api/tabel/}]]*/ 'http://localhost:8080/oio/api/tabel/2018/04',
                    TABEL_SPDAYS = /*[[@{/api/tabel/spdays/}]]*/ 'http://localhost:8080/oio/api/tabel/spdays/2018/04',
                    TABEL_HOLIDAYS = /*[[@{/api/tabel/holidays/}]]*/ 'http://localhost:8080/oio/api/tabel/holidays/2018',
                    TABEL_NOTATIONS = /*[[@{/api/tabel/notations/}]]*/ 'http://localhost:8080/oio/api/tabel/notations',
                    SERVICE_GET_PERSONS = /*[[@{/api/service/persons}]]*/ 'http://localhost:8080/oio/api/service/persons',
                    SERVICE_GET_TABELNOTATIONS = /*[[@{/api/service/tabel/notations}]]*/ 'http://localhost:8080/oio/api/service/tabel/notations';


                // Создание табеля
                var createTabel = function() {
                    var tabelDate = $formTabelCreate.find('#tabel-create-dtp').data('DateTimePicker').date();
                    var year = tabelDate.year();
                    var month = tabelDate.month() + 1;

                    return $.myAjax(TABEL_CREATE + year + '/' + month, 'POST', $widgetTabelCreate);
                }


                // Получение списка особенных дней за год/месяц (выбирается в datetimepicker-е)
                var getSpecialDays = function() {
                    var tabelDate = $dtpSpecialDays.data('DateTimePicker').date();
                    var year = tabelDate.year();
                    var month = tabelDate.month() + 1;

                    return $.myAjax(TABEL_SPDAYS + year + '/' + month, 'GET', $widgetSpDaysEdit);
                }


                // Получение списка праздничных дней за год (выбирается в календаре
                var getHolidays = function(year) {
                    return $.myAjax(TABEL_HOLIDAYS + year, 'GET', $widgetHolidaysEdit);
                }


                // Заполнение таблицы особенными днями
                var spDaysTableCreate = function(data) {
                    $tableSpDaysBody.empty();
                    for (var i in data) {
                        spDaysTableAddRow(data[i]);
                    }
                }


                // Создание и заполнение одной строки таблицы особенными днями
                var spDaysTableFillRow = function ($tr, data) {
                    // Загоняем особенные дни в <tr>.data
                    $tr.data('spDays', data);
                    // Заполняем таблицу
                    $tr.attr('id', 'spDaysTableRow_' + data.id);
                    $td = $tr.find('td');
                    $td.eq(0).html(data.fullName);
                    $td.eq(1).html(data.kod + ' - ' + data.kodName);
                    $td.eq(2).html(data.dateBegin);
                    $td.eq(3).html(data.dateEnd);

                    // Навешиваем обработчики
                    $tr.find('a[href="#edit"]').off('click').on('click', spDaysRowEdit);
                    $tr.find('a[href="#delete"]').off('click').on('click', spDaysRowDelete);
                }


                // Создание и заполнение одной строки таблицы особенными днями
                var spDaysTableCreateRow = function (data) {
                    $el = $templateRowSpDays.clone();
                    spDaysTableFillRow($el, data);
                    return $el;
                }


                // Добавление строки в таблицу особенных дней
                var spDaysTableAddRow = function(data) {
                    var $row = spDaysTableCreateRow(data);
                    $tableSpDaysBody.append($row);
                }


                // Изменение данных в строке таблицы особенных дней TODO: исправить
                var spDaysTableUpdateRowData = function(data) {                     //console.log(JSON.stringify(data, null, '\t'));
                    var $row = $('#spDaysTableRow_' + data.id, $tableSpDaysBody);   // Ищем строку таблицы, которую нужно обновить
                    spDaysTableFillRow($row, data);                                 // Заполняем новыми данными
                }


                // Редактирование строки особенных дней
                var spDaysRowEdit = function (e) {
                    e.preventDefault();
                    $modalSpDaysEdit.data('spDays', $(this).parents('tr').data('spDays'));

                    $modalSpDaysEdit.modal();
                }


                // Удаление строки особенных дней
                var spDaysRowDelete = function (e) {
                    e.preventDefault();
                    $tr = $(this).parents('tr');
                    var id = $tr.data('spDays').id;
                    // Спрашиваем у пользователя, точно ли нужно удалять
                    swal({
                        title: "Внимание!",
                        text: "Вы действительно хотите удалить запись?",
                        type: "warning",
                        timer: 100000,
                        background:"#fcf8e3",
                        allowOutsideClick: false,
                        buttonsStyling: false,
                        confirmButtonText: "Удалить",
                        confirmButtonClass: "btn btn-lg btn-warning",
                        showCancelButton: true,
                        focusCancel: true,
                        cancelButtonText: "Отменить",
                        cancelButtonClass: "btn btn-lg btn-cancel"
                    }).then(function(){
                        // Удаляем
                        spDaysDelete(id)
                            .done(function (result) {
                                $tr.remove();
                            })
                            .fail(function (result) {
                                $.showErrorMessage(result, 'Ошибка удаления!');
                            })
                            .always(function (result) {
                                $widgetSpDaysEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                            });
                    }).catch(swal.noop);



                }


                // Удаление особенных дней
                var spDaysDelete = function(id) {
                    return  $.myAjax(TABEL_SPDAYS + id, 'DELETE', $widgetSpDaysEdit);
                }


                // Заполнение таблицы условными обозначениями
                var tnTableCreate = function(data) {
                    $tableTnBody.empty();
                    for (var i in data) {
                        tnTableAddRow(data[i]);
                    }
                }


                // Добавление строки в таблицу условных обозначений
                var tnTableAddRow = function(data) {
                    var $row = tnTableCreateRow(data);
                    $tableTnBody.append($row);
                }


                // Изменение данных в строке таблицы условных обозначений
                var tnTableUpdateRow = function(data) {                             //console.log(JSON.stringify(data, null, '\t'));
                    var $row = $('#tnTableRow_' + data.id, $tableTnBody);           // Ищем строку таблицы, которую нужно обновить
                    tnTableFillRow($row, data);                                     // Заполняем новыми данными
                }


                // Создание и заполнение одной строки таблицы условных обозначений
                var tnTableCreateRow = function (data) {
                    $el = $templateRowTn.clone();
                    tnTableFillRow($el, data);
                    return $el;
                }


                // Заполнение одной строки таблицы условных обозначений
                var tnTableFillRow = function ($tr, data) {
                    // Загоняем условные обозначения в <tr>.data
                    $tr.data('tn', data);
                    $tr.attr('id', 'tnTableRow_' + data.id);
                    $td = $tr.find('td');
                    $td.eq(0).html(data.kod);
                    $td.eq(1).html(data.name);
                    $td.eq(2).html('<div class="cl-box cl-' + data.color + '"></div>');
                    $td.eq(3).html('<div class="cl-box cl-1">' + (data.active == true ? '<i class="fa fa-check green bigger-130"></i>':'') + '</div>');
                    $td.eq(4).html('<div class="cl-box cl-1">' + (data.workDay == true ? '<i class="fa fa-check green bigger-130"></i>':'') + '</div>');

                    // Навешиваем обработчики
                    $tr.find('a[href="#edit"]').off('click').on('click', tnRowEdit);
                    $tr.find('a[href="#delete"]').off('click').on('click', tnRowDelete);
                }


                // Редактирование строки условных обозначений
                var tnRowEdit = function (e) {
                    e.preventDefault();
                    $modalTnEdit.data('tn', $(this).parents('tr').data('tn'));
                    $modalTnEdit.modal();
                }


                // Удаление строки условных обозначений
                var tnRowDelete = function (e) {
                    e.preventDefault();
                    $tr = $(this).parents('tr');
                    var id = $tr.data('tn').id;
                    // Спрашиваем у пользователя, точно ли нужно удалять
                    swal({
                        title: "Внимание!",
                        text: "Вы действительно хотите удалить запись?",
                        type: "warning",
                        timer: 100000,
                        background:"#fcf8e3",
                        allowOutsideClick: false,
                        buttonsStyling: false,
                        confirmButtonText: "Удалить",
                        confirmButtonClass: "btn btn-lg btn-warning",
                        showCancelButton: true,
                        focusCancel: true,
                        cancelButtonText: "Отменить",
                        cancelButtonClass: "btn btn-lg btn-cancel"
                    }).then(function(){
                        // Удаляем
                        tnDelete(id)
                            .done(function (result) {
                                $tr.remove();
                            })
                            .fail(function (result) {
                                $.showErrorMessage(result, 'Ошибка удаления!');
                            })
                            .always(function (result) {
                                $widgetTnEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                            });
                    }).catch(swal.noop);




                }


                // Удаление условного обозначения
                var tnDelete = function(id) {
                    return  $.myAjax(TABEL_NOTATIONS + id, 'DELETE', $widgetTnEdit);
                }


                // Получение списка объектов Id + Name по заданному URL
                var getIdNameList = function(url) {
                    return $.myAjax(url);
                }


                // Получение списка условных обозначений табеля
                var getTabelNotations = function () {
                    return $.myAjax(TABEL_NOTATIONS)
                }


                // Заполнение пунктов выпадающего списка (парами id + name)
                var setSelectOptions = function($select, data, id) {
                    id = id || 0;
                    var options = '';
                    $.each(data, function() {
                        options += '<option ';
                        if (this.id === id) options += ' selected ';
                        options += ' value="' + this.id + '">' + this.name + '</option>';
                    });
                    $select.html(options);
                }


                // Клик по добавлению особенных дней
                $('#spDaysAdd').off('click').on('click', function (e) {
                    e.preventDefault();
                    $modalSpDaysEdit.data('spDays', {id: -1});
                    $modalSpDaysEdit.modal();
                })


                // Клик по добавлению условных обозначений
                $('#tnAdd').off('click').on('click', function (e) {
                    e.preventDefault();
                    $modalTnEdit.data('tn', {id: -1});
                    $modalTnEdit.modal();
                })


                // Добавление или обновление записи об особенных днях (успешная валидация формы)
                var spDaysAddOrUpdate = function () {
                    var data = {id: $modalSpDaysEdit.data('spDays').id};
                    data.personId = $selSpDaysPerson.val();
                    data.dateBegin = $.formatDate($dtpSpDaysRange.find('input[name="start"]').datepicker('getDate'));
                    data.dateEnd = $.formatDate($dtpSpDaysRange.find('input[name="end"]').datepicker('getDate'));
                    data.kodId = $selSpDaysKod.val();
                    return formSubmit($modalSpDaysEdit, data, TABEL_SPDAYS, $widgetSpDaysEdit);
                }


                // Добавление или обновление записи о празднике (submit формы)
                var holidaysAddOrUpdate = function () {
                    var data = {id: $('#holidayId', $modalHolidaysEdit).val()};
                    data.date = $.trim($('#holidayDate', $formHolidaysEdit).val());
                    data.name = $.trim($('#holidayName', $formHolidaysEdit).val());
                    data.holiday = $('#holidayHoliday', $formHolidaysEdit).prop('checked');
                    data.periodic = $('#holidayPeriodic', $formHolidaysEdit).prop('checked');
                    return formSubmit($modalHolidaysEdit, data, TABEL_HOLIDAYS, $widgetHolidaysEdit);
                }


                // Добавление или обновление записи об условном обозначении (успешная валидация формы)
                var tnAddOrUpdate = function () {
                    var data = {id: $modalTnEdit.data('tn').id};
                    data.kod = $.trim($('#tnKod', $formTnEdit).val());
                    data.name = $.trim($('#tnName', $formTnEdit).val());
                    data.color = $('#tnColor', $formTnEdit).val();
                    data.active = $('#tnActive', $formTnEdit).prop('checked');
                    data.workDay = $('#tnWorkDay', $formTnEdit).prop('checked');
                    return formSubmit($modalTnEdit, data, TABEL_NOTATIONS, $widgetTnEdit);
                }


                // При успешной валидации формы добавляем или обновляем сущность (универсальная функция)
                var formSubmit = function ($modal, data, url, $widget) {
                    var id = data.id;
                    $modal.modal('hide');
//console.log(JSON.stringify(data, null, '\t'));
                    // Формируем запрос
                    var type;
                    if (id < 0) {
                        type = 'POST';
                    } else {
                        url += id;
                        type = 'PUT';
                    }

                    return $.myAjax(url, type, $widget, JSON.stringify(data));
                }


                // Удаление праздничного дня
                var holidayDelete = function(id) {
                    return $.myAjax(TABEL_HOLIDAYS + id, 'DELETE', $widgetHolidaysEdit);
                }


                // Обработчик события OnChange соответствующих инпутов (нужен в виде отдельной функции, т.к. будет отключаться)
                var dtpSpDaysRangeInputChange = function (e) {
                    $selectedSpDaysRange.val($(this).val());
                    $formSpDaysEdit.formValidation('revalidateField', 'selectedSpDaysRange');
                }


                // Отправка формы редактирования/добавления праздничных дней
                $formHolidaysEdit.submit(function(e) {
                    e.preventDefault();
                    holidaysAddOrUpdate()
                        .done(function (result) {
                            updateEvent(result);
                        })
                        .fail(function (result) {
                            $.showErrorMessage(result, 'Ошибка добавления праздничного дня!');
                        })
                        .always(function (result) {
                            $widgetHolidaysEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                        });
                });





            }



            /* Загружаем списки */
            (function() {

                // Заполнение элементов списка сотрудников диалогового окна
                getIdNameList(SERVICE_GET_PERSONS)
                    .done(function (result){
                        setSelectOptions($selSpDaysPerson, result);
                    });

                // Заполнение таблицы условных обозначений табеля
                getTabelNotations()
                    .done(function(result){
                        tnTableCreate(result);
                    });



            })();


            /* Настройка элементов страницы */
            {
                // Ace Custom Color Picker
                {
                    var tnColors = {
                        9: "#ffffff",
                        10:"#ff0000",
                        11:"#00ff00",
                        12:"#0000ff",
                        13:"#ffff00",
                        14:"#ff00ff",
                        15:"#00ffff",
                        16:"#800000",
                        17:"#008000",
                        19:"#808000",
                        20:"#800080",
                        21:"#008080",
                        22:"#c0c0c0",
                        23:"#808080",
                        24:"#9999ff",
                        25:"#993366",
                        26:"#ffffcc",
                        27:"#ccffff",
                        28:"#660066",
                        29:"#ff8080",
                        30:"#0066cc",
                        31:"#ccccff",
                        40:"#00ccff",
                        42:"#ccffcc",
                        43:"#ffff99",
                        44:"#99ccff",
                        45:"#ff99cc",
                        46:"#cc99ff",
                        47:"#ffcc99",
                        48:"#3366ff",
                        49:"#33cccc",
                        50:"#99cc00",
                        51:"#ffcc00",
                        52:"#ff9900",
                        53:"#ff6600",
                        54:"#666699",
                        55:"#969696",
                        56:"#003366",
                        57:"#339966",
                        59:"#333300",
                        60:"#993300",
                        62:"#333399"
                    };  // Массив наших цветов

                    var s = '';
                    $.each(tnColors, function(key, value) {
                        s += '<option value="'+ value +'">'+ key +'</option>';
                    });

                    $('#tnColorPicker').html(s);

                    $('#tnColorPicker').ace_colorpicker()
                        .on('change', function() {
                            var clId = Object.keys(tnColors)[Object.values(tnColors).indexOf(this.value)];
                            $('#tnColor', $formTnEdit).val(clId);

                        });
                }

                $('.year-month').datetimepicker({
                    locale: 'ru',
                    format: 'YYYY MMMM',
                    allowInputToggle: true,
                    showTodayButton: true,
                    tooltips: {
                        today: 'Текущий месяц'
                    }
                });


                $dtpSpDaysRange.datepicker({
                    language: 'ru',
                    autoclose: true,
                    zIndexOffset: 1040,
                    todayBtn: true,
                    todayHighlight: true
                });


                // Обновление списка особенных дней после изменения даты
                $dtpSpecialDays.datetimepicker().on('dp.change', function (e) {
                    getSpecialDays()
                        .done(function (result) {
                            $widgetSpDaysEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                            spDaysTableCreate(result);
                        });

                });
                // Устанавливаем текущую дату в дейтпикер (обязательно после обработчика события, иначе первый раз не сработает)
                $dtpSpecialDays.data('DateTimePicker').date(new Date());


                // При показе модального окна modalSpDaysEdit настраиваем его элементы, в зависимости от spDaysId
                $modalSpDaysEdit.on('shown.bs.modal', function (e) {
                    var spDays = $modalSpDaysEdit.data('spDays');
                    // Заполнение элементов списка обозначений табеля диалогового окна с одновременным выделением нужного элемента
                    getIdNameList(SERVICE_GET_TABELNOTATIONS)
                        .done(function (result){
                            setSelectOptions($selSpDaysKod, result, spDays.kodId);
                            $selSpDaysKod.chosen().trigger('chosen:updated');
                        });

                    $selSpDaysPerson.chosen();
                    if (spDays.id < 0) { // Добавление
                        $selSpDaysPerson.attr("disabled", false);
                        $selSpDaysPerson.find('option:first-child').prop('selected', true).end().trigger('chosen:updated');
                        $dtpSpDaysRange.find('input[type="text"]').each(function() {
                            $dtpSpDaysRange.find('input[type="text"]').off('change');
                            $(this).datepicker('clearDates');
                            $dtpSpDaysRange.find('input[type="text"]').on('change', dtpSpDaysRangeInputChange);
                        });
                    } else { // Редактирование
                        $selSpDaysPerson.attr("disabled", true);
                        $selSpDaysPerson.val(spDays.personId).trigger('chosen:updated');
                        $dtpSpDaysRange.find('input[name="start"]').datepicker('update', new Date(spDays.dateBegin));
                        $dtpSpDaysRange.find('input[name="end"]').datepicker('update', new Date(spDays.dateEnd));
                    }

                });


                // При показе модального окна modalmodalTnEdit настраиваем его элементы, в зависимости от tnId
                $modalTnEdit.on('show.bs.modal', function (e) {
                    var tn = $modalTnEdit.data('tn');
                    if (tn.id < 0) { // Добавление
                        $('#tnKod', $modalTnEdit).val('');
                        $('#tnName', $modalTnEdit).val('');
                        $('#tnColorPicker', $modalTnEdit).ace_colorpicker('pick', 0); // Выбираем первый цвет (белый)
                        $('#tnColor', $formTnEdit).val(9);
                        $('#tnActive', $modalTnEdit).prop('checked', false);
                        $('#tnWorkDay', $modalTnEdit).prop('checked', false);
                    } else { // Редактирование
                        $('#tnKod', $modalTnEdit).val($.trim(tn.kod));
                        $('#tnName', $modalTnEdit).val($.trim(tn.name));
                        $('#tnColorPicker', $modalTnEdit).ace_colorpicker('pick', tnColors[tn.color]);
                        $('#tnColor', $formTnEdit).val(tn.color);
                        $('#tnActive', $modalTnEdit).prop('checked', tn.active === true);
                        $('#tnWorkDay', $modalTnEdit).prop('checked', tn.workDay === true);
                    }
                });




                // Widget - контейнер
                {
                    $('.widget-container-col').sortable({
                        connectWith: '.widget-container-col',
                        items:'> .widget-box',
                        handle: ace.vars['touch'] ? '.widget-title' : false,
                        cancel: '.fullscreen',
                        opacity:0.8,
                        revert:true,
                        forceHelperSize:true,
                        placeholder: 'widget-placeholder',
                        forcePlaceholderSize:true,
                        tolerance:'pointer',
                        start: function(event, ui) {
                            // when an element is moved, it's parent becomes empty with almost zero height.
                            // we set a min-height for it to be large enough so that later we can easily drop elements back onto it
                            ui.item.parent().css({'min-height':ui.item.height()})
                            //ui.sender.css({'min-height':ui.item.height() , 'background-color' : '#F5F5F5'})
                        },
                        update: function(event, ui) {
                            ui.item.parent({'min-height':''})
                            //p.style.removeProperty('background-color');


                            // save widget positions
                            var widget_order = {}
                            $('.widget-container-col').each(function() {
                                var container_id = $(this).attr('id');
                                widget_order[container_id] = []


                                $(this).find('> .widget-box').each(function() {
                                    var widget_id = $(this).attr('id');
                                    widget_order[container_id].push(widget_id);
                                    // now we know each container contains which widgets
                                });
                            });

                            ace.data.set('uio', 'widget-order', widget_order, null, true);
                        }
                    });

                    // when a widget is shown/hidden/closed, we save its state for later retrieval
                    $(document).on('shown.ace.widget hidden.ace.widget closed.ace.widget', '.widget-box', function (event) {
                        var widgets = ace.data.get('uio', 'widget-state', true);
                        if (widgets == null) widgets = {}

                        var id = $(this).attr('id');
                        widgets[id] = event.type;
                        ace.data.set('uio', 'widget-state', widgets, null, true);
                    });


                    (function () {
                        // restore widget order
                        var container_list = ace.data.get('uio', 'widget-order', true);
                        if (container_list) {
                            for (var container_id in container_list) if (container_list.hasOwnProperty(container_id)) {

                                var widgets_inside_container = container_list[container_id];
                                if (widgets_inside_container.length == 0) continue;

                                for (var i = 0; i < widgets_inside_container.length; i++) {
                                    var widget = widgets_inside_container[i];
                                    $('#' + widget).appendTo('#' + container_id);
                                }

                            }
                        }


                        // restore widget state
                        var widgets = ace.data.get('uio', 'widget-state', true);
                        if (widgets != null) {
                            for (var id in widgets) if (widgets.hasOwnProperty(id)) {
                                var state = widgets[id];
                                var widget = $('#' + id);
                                if
                                (
                                    (state == 'shown' && widget.hasClass('collapsed'))
                                    ||
                                    (state == 'hidden' && !widget.hasClass('collapsed'))
                                ) {
                                    widget.widget_box('toggleFast');
                                }
                                else if (state == 'closed') {
                                    widget.widget_box('closeFast');
                                }
                            }
                        }


                        $('#main-widget-container').removeClass('invisible');


                        // reset saved positions and states
                        $('#reset-widgets').off('click').on('click', function () {
                            ace.data.remove('uio', 'widget-state');
                            ace.data.remove('uio', 'widget-order');
                            document.location.reload();
                        });

                    })();
                }



                // Календарь
                {

                    var editEvent = function (event) {
                        $('#holidayId', modalHolidaysEdit).val(event.id);
                        $('#holidayDate', modalHolidaysEdit).val($.formatDate(event.startDate));
                        $('#holidayName', modalHolidaysEdit).val(event.name);
                        $('#holidayHoliday', modalHolidaysEdit).prop('checked', event.holiday === true);
                        $('#holidayPeriodic', modalHolidaysEdit).prop('checked', event.periodic === true);
                        $modalHolidaysEdit.modal();
                    }

                    var deleteEvent = function (event) {
                        holidayDelete(event.id)
                            .done(function (result) {
                                var dataSource = $calendar.data('calendar').getDataSource();

                                for(var i in dataSource) {
                                    if(dataSource[i].id == event.id) {
                                        dataSource.splice(i, 1);
                                        break;
                                    }
                                }

                                $calendar.off('renderEnd');
                                $calendar.data('calendar').setDataSource(dataSource);
                                $calendar.on('renderEnd', renderEnd);
                            })
                            .fail(function (result) {
                                $.showErrorMessage(result, 'Ошибка удаления!');
                            })
                            .always(function (result) {
                                $widgetHolidaysEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                            });
                    }

                    var updateEvent = function (data) {
//console.log(data);
                        var event = convertEvent(data);
                        var dataSource = $calendar.data('calendar').getDataSource();

                        var newEvent = true;
                        for (var i in dataSource) {
                            if (dataSource[i].id == event.id) {
                                dataSource[i].name = event.name;
                                dataSource[i].startDate = event.startDate;
                                dataSource[i].endDate = event.endDate;
                                dataSource[i].holiday = event.holiday;
                                dataSource[i].periodic = event.periodic;
                                newEvent = false;
                                break;
                            }
                        }

                        if (newEvent === true) {
                            dataSource.push(event);
                        }

                        $calendar.off('renderEnd');
                        $calendar.data('calendar').setDataSource(dataSource);
                        $calendar.on('renderEnd', renderEnd);
                    }

                    var convertEvent = function(data) {
                        var d = data.date.split('-');
                        data.startDate = new Date(d[0], d[1] - 1, d[2]);
                        data.endDate = new Date(d[0], d[1] - 1, d[2]);
                        delete(data.date);
                        return data;
                    }

                    var convertDataSource = function(data) {
                        for (var i in data) {
                            convertEvent(data[i]);
                        }
                        return data;
                    }

                    var renderEnd = function (e) {
                        getHolidays(e.currentYear)
                            .done(function (result) {
                                $calendar.off('renderEnd');
                                $calendar.data('calendar').setDataSource(convertDataSource(result));
                                $calendar.on('renderEnd', renderEnd);
                            })
                            .fail(function (result) {
                                $.showErrorMessage(result, 'Ошибка загрузки праздничных дней!');
                            })
                            .always(function (result) {
                                $widgetHolidaysEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                            });
                    }


                    // По-умолчанию выбран текущий год
                    var currentYear = new Date().getFullYear();

                    var colorHoliday = '#ce6f9e';
                    var colorWorkday = '#5090c1';

                    $calendar.calendar({
                        language: 'ru',
                        style: 'custom',
                        enableContextMenu: true,
                        contextMenuItems:[
                            {
                                text: 'Изменить',
                                click: editEvent
                            },
                            {
                                text: 'Удалить',
                                click: deleteEvent
                            }
                        ],
                        mouseOnDay: function(e) {
                            if (e.events.length > 0) {
                                var content = '<div class="event-tooltip-content"><div class="event-name" style="color:';
                                content += (e.events[0].holiday ? colorHoliday : colorWorkday) + '">' + e.events[0].name + '</div></div>';

                                $(e.element).popover({
                                    trigger: 'manual',
                                    container: 'body',
                                    html:true,
                                    content: content
                                });

                                $(e.element).popover('show');
                            }
                        },
                        mouseOutDay: function(e) {
                            if(e.events.length > 0) {
                                $(e.element).popover('hide');
                            }
                        },
                        dayContextMenu: function(e) {
                            if (e.events.length > 0) {
                                $(e.element).popover('hide');
                            } else {
                                editEvent({
                                    id: -1,
                                    startDate: e.date,
                                    endDate: e.date
                                });
                            }
                        },
                        customDayRenderer: function(element, date) {
                            // Подсвечиваем выходные дни
                            if (([0,6].indexOf(date.getDay()) != -1)) {
                                $(element).css('color', 'red');
                            }
                        },
                        customDataSourceRenderer: function(element, date, events) {
                            // Подсвечиваем праздники
                            $(element).css('color', 'white');
                            //$(element).css('font-weight', 'bold');
                            $(element).css('border-radius', '15px');
                            if(events[0].holiday) {
                                $(element).css('background-color', colorHoliday);
                            } else {
                                $(element).css('background-color', colorWorkday);
                            }

                        },
                        renderEnd: renderEnd
                    });









                }































            }


            /* Валидация форм */
            {

                // Валидация формы ввода даты создания табеля
                {
                    $formTabelCreate.formValidation({
                        framework: 'bootstrap',
                        icon: {
                            valid: 'glyphicon glyphicon-ok bigger-120',
                            invalid: 'glyphicon glyphicon-remove bigger-120',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        message: 'Поле обязательно для заполнения',
                        fields: {
                            tabelDateCreate: {
                                validators: {
                                    notEmpty: {}
                                }
                            }
                        },
                        onSuccess: function(e) {
                            createTabel()
                                .always(function (result) {

                                    $widgetTabelCreate.trigger('reloaded.ace.widget'); // Отключаем крутилку

                                    $.showUserMessage(
                                        result,
                                        'Табель создан!',
                                        'Табель успешно создан и доступен для загрузки!',
                                        'Ошибка создания табеля!',
                                        function(){
                                            location.reload();
                                        });
                                });
                        }
                    });

                    // Ревалидация поля даты после обновления значения в дейтпикере
                    $('#tabel-create-dtp').datetimepicker().on('dp.change', function (e) {
                        $formTabelCreate.formValidation('revalidateField', 'tabelDateCreate');
                    });
                }


                // Валидация формы ввода особенных дней табеля
                {
                    $formSpDaysEdit.formValidation({
                        framework: 'bootstrap',
                        icon: {
                            valid: 'glyphicon glyphicon-ok bigger-120',
                            invalid: 'glyphicon glyphicon-remove bigger-120',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        message: 'Поле обязательно для заполнения',
                        fields: {
                            selectedSpDaysRange:    {
                                excluded: false,
                                validators: {
                                    notEmpty: {},
                                    date: {
                                        format: 'DD.MM.YYYY',
                                        message: 'Дата указана неверно'
                                    }
                                }
                            }
                        },
                        onSuccess: function(e) {
                            spDaysAddOrUpdate()
                                .done(function (result) {
                                    var id = $modalSpDaysEdit.data('spDays').id;
                                    if (id > 0) {
                                        spDaysTableUpdateRowData(result);
                                    } else {
                                        spDaysTableAddRow(result);
                                    }
                                })
                                .fail(function (result) {
                                    $.showErrorMessage(result, 'Ошибка добавления особенных дней!');
                                })
                                .always(function (result) {
                                    $widgetSpDaysEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                                });
                        }
                    });

                    // При "ручном" изменении поля загоняем введенный текст в проверяемое скрытое поле и делаем ревалидацию
                    $dtpSpDaysRange.find('input[type="text"]').off('change').on('change', dtpSpDaysRangeInputChange);

                    // Сброс информации о валидации когда окно уже скрылось
                    $modalSpDaysEdit.on('hidden.bs.modal', function (e) {
                        $formSpDaysEdit.data('formValidation').resetForm(true);
                    });

                }


                // Валидация формы ввода условных обозначений
                {
                    $formTnEdit.formValidation({
                        framework: 'bootstrap',
                        icon: {
                            valid: 'glyphicon glyphicon-ok bigger-120',
                            invalid: 'glyphicon glyphicon-remove bigger-120',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        message: 'Поле обязательно для заполнения',
                        fields: {
                            tnKod: {
                                validators: {
                                    notEmpty: {},
                                    stringLength: {
                                        message: 'Длина поля ограничена 2 символами',
                                        max: 2
                                    }
                                }
                            },
                            tnName: {
                                validators: {
                                    notEmpty: {},
                                    stringLength: {
                                        message: 'Длина поля ограничена 200 символами',
                                        max: 200
                                    }
                                }

                            }
                        },
                        onSuccess: function(e) {
                            tnAddOrUpdate()
                                .done(function (result) {
                                    var id = $modalTnEdit.data('tn').id;
                                    if (id > 0) {
                                        tnTableUpdateRow(result);
                                    } else {
                                        tnTableAddRow(result);
                                    }
                                })
                                .fail(function (result) {
                                    $.showErrorMessage(result, 'Ошибка добавления условного обозначения!');
                                })
                                .always(function (result) {
                                    $widgetTnEdit.trigger('reloaded.ace.widget'); // Отключаем крутилку
                                });
                        }
                    });

                    // Сброс информации о валидации когда окно уже скрылось
                    $modalTnEdit.on('hide.bs.modal', function (e) {
                        $formTnEdit.data('formValidation').resetForm(true);
                    });

                }

            }



            /* ****************************************************************************************************** */
        });
        /*]]>*/
    </script>
</div></body></html>