<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>



<div th:fragment="content" th:remove="tag">
    <div class="footer"><div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
            <span class="bigger-120"><span class="blue bolder">ЕГУ им. И.А. Бунина</span> Отдел информатизации образования &copy; 2017</span>
            &nbsp; &nbsp;
		<span class="action-buttons">
			<a href="#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
            </a>

			<a href="#">
                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
            </a>

			<a href="#">
                <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
            </a>
		</span>
        </div>
        <!-- /section:basics/footer -->
    </div></div>
</div>




</body>
</html>